.Homemain{
    background-color: #fff;
}

.Homemain img{
    width: 100%;
}

.botao-div-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 520px;
    
    margin: 20px;
    padding-right: 30px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    
}

.botao-home{
    width: 263px;
    height: 3rem;
    background-color: #656369;

    border-radius: 10px;

    border: none;

    font-weight: 1000;
    font-size: 25px;

    color: #fff;

    cursor: pointer;
}
